@font-face {
    font-family: Vazir;
    src: url(../Fonts/Vazirmatn-Medium.ttf);
}
@font-face {
    font-family: Windsong;
    src: url(../Fonts/Windsong.ttf);
}
@font-face {
    font-family: ShortBaby;
    src: url(../Fonts/ShortBaby-Mg2w.ttf);
}
@font-face {
    font-family: LeagueSpartan;
    src: url(../Fonts/LeagueSpartan-Bold.otf);
}
