{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-re">
    <div class="image">
        <div class="content">
            <div class="border-r1 border-r">
                <div class="border-r2 border-r ">
                    <div class="border-r3 border-r">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text">
        <h1>
            به وبسایت  تخصصی پایتون خوش آمدید
        </h1>
        <br>
        <p>یادگیری علوم مختلف برنامه نویسی و ابزار های گوناگون در زمینه توسعه بک اند با پایتون در طراحی وب ،
            اینترنت اشیا و هوش مصنوعی</p>
        <br><br>
        <i class="fa-solid fa-circle-check"></i>
        <b>دوره های به روز  </b>
        <i class="fa-solid fa-circle-check"></i>
        <b>مشاوره و منتورینگ  </b>
        <i class="fa-solid fa-circle-check"></i>
        <b>انجام پروژه  </b>
    </div>
</div>
<div class="container-re cont-2">
    <div class="in-part">
        <h2>0</h2>
        <i class="fa-regular fa-circle-check"></i>
    </div>
    <div class="in-part">
        <h2>0</h2>
        <i class="fa-solid fa-user"></i>
    </div>
    <div class="in-part">
        <h2>0</h2>
        <i class="fa-solid fa-video"></i>
    </div>
    <div class="in-part">
        <h2>0</h2>
        <i class="fa-solid fa-tv"></i>
    </div>
</div>
<div class="container-re cont-3 slider-2">
    <h2>از چه تکنولوژی هایی استفاده می کنم</h2>
    <br>
    <div class="slider">
        <div class="custom-slider">
            <img src="{% static 'assets/img/mic.jpg' %}" alt="">
            <div class="direction-slider">
                <br>
                <h2>micropython</h2>
                <br>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem dolor ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="custom-slider">
            <img src="{% static 'assets/img/py.jpg' %}" alt="">
            <div class="direction-slider">
                <br>
                <h2>Python</h2>
                <br>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem dolor ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="custom-slider">
            <img src="{% static 'assets/img/jss.jpg' %}" alt="">
            <div class="direction-slider">
                <br>
                <h2>javascript</h2>
                <br>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem dolor ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="custom-slider">
            <img src="{% static 'assets/img/dig.jpg' %}" alt="">
            <div class="direction-slider">
                <br>
                <h2>django</h2>
                <br>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem dolor ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="receiver">
            <div class="left-content">
                <h2>
                    مشاوره و منتورینگ
                </h2>
                <br>
                <p>
                    گاهی اوقات فقط دیدن ویدئو و یا تمرین برای انجام پروژه های شخصی و یا حتی خود یادگیری کافی
                    نیست و
                    نیاز به یک مشاور و راهنما طی یادگیری و انجام پروژه احساس میشه
                </p>
                <span>
                    <p>تسهیل در یادگیری و معرفی منابع مفید </p>
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    <p>کمک به یافتن راه حل مناسب برای پروژه</p>
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    <p>قرار گیری در مسیر درست و تصحیح اشتباهات</p>
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    <p>اطمینان خاطر از خروجی</p>
                    <i class="fa-solid fa-arrow-left"></i>
                </span>

            </div>
            <div class="right-content">
                <img src="{% static 'assets/img/ch.svg' %}" style="width:80%;">
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="receiver receiver-2">
            <div class="right-content r2">
                <img src="{% static 'assets/img/projection-un.svg' %}">
            </div>
            <div class="left-content">
                <h2>
                    انجام پروژه
                </h2>
                <br>
                <p>
                    گاهی اوقات فقط دیدن ویدئو و یا تمرین برای انجام پروژه های شخصی و یا حتی خود یادگیری کافی
                    نیست و
                    نیاز به یک مشاور و راهنما طی یادگیری و انجام پروژه احساس میشه
                </p>
                <span>
                    <p>تسهیل در یادگیری و معرفی منابع مفید </p>
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    <p>کمک به یافتن راه حل مناسب برای پروژه</p>
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    <p>قرار گیری در مسیر درست و تصحیح اشتباهات</p>
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    <p>اطمینان خاطر از خروجی</p>
                    <i class="fa-solid fa-arrow-left"></i>
                </span>

            </div>

        </div>
    </div>
</div>
<div class="blog-container">
    <div class="blog">
        <h2> جدیدترین اخبـار وبلاگ</h2>
    </div>
    <br>
    <div class="blog-receiver">
        <div class="blog-right">

            <div class="blog-content">
                <div class="link-blog">
                    <h3>
                        <a href="#">پیاده سازی پروژه Django Channels (ASGI/Websocket) بر روی پلتفرم
                            Hamravesh</a>
                    </h3>
                    <p>
                        <a href="#">توی این ویدئو نحوه پیاده سازی پروژه جنگو رو به صورت کامل بر روی پلتفرم
                            caprover شرح دادم به طوری که یک پروژه قالب رو آماده سازی کردم و در داخلش فایل
                            های
                            مورد نیاز برای پیاده سازی رو برای رفرنس قرار دادم</a>
                    </p>
                </div>
                <div class="data-blog">
                    <h2>19</h2>
                    <span>1403 مرداد</span>
                </div>
            </div>

            <div class="blog-content">
                <div class="link-blog">
                    <h3>
                        <a href="#">پیاده سازی پروژه Django Channels (ASGI/Websocket) بر روی پلتفرم
                            Hamravesh</a>
                    </h3>
                    <p>
                        <a href="#">توی این ویدئو نحوه پیاده سازی پروژه جنگو رو به صورت کامل بر روی پلتفرم
                            caprover شرح دادم به طوری که یک پروژه قالب رو آماده سازی کردم و در داخلش فایل
                            های
                            مورد نیاز برای پیاده سازی رو برای رفرنس قرار دادم</a>
                    </p>
                </div>
                <div class="data-blog">
                    <h2>19</h2>
                    <span>1403 مرداد</span>
                </div>
            </div>

            <div class="blog-content">
                <div class="link-blog">
                    <h3>
                        <a href="#">پیاده سازی پروژه Django Channels (ASGI/Websocket) بر روی پلتفرم
                            Hamravesh</a>
                    </h3>
                    <p>
                        <a href="#">توی این ویدئو نحوه پیاده سازی پروژه جنگو رو به صورت کامل بر روی پلتفرم
                            caprover شرح دادم به طوری که یک پروژه قالب رو آماده سازی کردم و در داخلش فایل
                            های
                            مورد نیاز برای پیاده سازی رو برای رفرنس قرار دادم</a>
                    </p>
                </div>
                <div class="data-blog">
                    <h2>19</h2>
                    <span>1403 مرداد</span>
                </div>
            </div>
        </div>
        <div class="blog-left">
            <img src="{% static 'assets/img/blog.svg' %}" alt="">
        </div>
    </div>
</div>

<div class="blog-container">
    <div class="newsletter-content">
        <div class="left-newsletter">
            <div class="input-content">
                <button class="newsletter-button">ثبت نام</button>
                <input type="email" name="" placeholder="ایمیل" class="input-email">
            </div>
        </div>
        <div class="right-newsletter">
            <h2>عضویت در خبرنامه</h2>
            <br>
            <p>می توانید جهت آگاهی از سرویس ها در خبرنامه عضو شوید و به روز بمانید</p>
        </div>
    </div>
</div>
</div>
{% endblock %}