@font-face {
    font-family: Vazir;
    src: url(../font/Vazirmatn-Medium.ttf);
}
@font-face {
    font-family: Windsong;
    src: url(../font/Windsong.ttf);
}
@font-face {
    font-family: ShortBaby;
    src: url(../font/ShortBaby-Mg2w.ttf);
}
@font-face {
    font-family: LeagueSpartan;
    src: url(../font/LeagueSpartan-Bold.otf);
}
